@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;
  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --small: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

.hero-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.hero-header h1 {
  font-family: "Urbanist", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}
.hero-header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  color: var(--primaryColor);
  text-transform: uppercase;
}
.scroll-section-outter {
  overflow: hidden;
}
.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 2%;
}
.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

/* Pagination  */
.pagePagination li {
  display: inline-block;
}

.pagePagination button {
  display: inline-block;
}

.pagePagination {
  width: 100%;
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.pagePagination button {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 45px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #dee2e6 !important;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  margin: 0 0 0 -1px !important;
  font-weight: 300;
  transition: all 250ms ease-in;
}

.paginationContent {
  min-height: 100px;
  margin-top: 50px;
  font-size: 20px;
  color: #20232a;
}

.paginateButton {
  line-height: 42px;
}

.pagePagination button:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.paginateButton:disabled {
  pointer-events: none;
}

.pagePagination button.active {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff !important;
}

/* Flip GSAP Animation */
.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container.grid,
.container.columns {
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}

.letter {
  text-align: center;
  color: white;
  font-size: 10vmax;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
}
.container.grid .letter {
  flex-basis: 50%;
}
.container.columns .letter {
  flex-basis: 25%;
}
.for,
.gsap {
  font-size: 5vmax;
  color: #e2e8f0;
}
.for {
  padding: 2px 1.6vmax;
  font-weight: 300;
  display: none;
}
.gsap {
  padding: 2px 0;
  font-weight: 600;
  display: none;
}
.container.final .for,
.container.final .gsap {
  display: block;
}
.F {
  background: #16a34a;
}
.l {
  background: #15803d;
}
.i {
  background: #3b82f6;
}
.p {
  background: #0d9488;
}
.container.plain .letter {
  background: transparent;
  color: rgb(232, 223, 223);
  padding: 0;
}

.logo {
  position: fixed;
  width: 100px;
  bottom: 20px;
  right: 30px;
}

/* GSAP HORIZONTAL SCROLL  */

.intro,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro {
  background: #075985;
  color: #f6f2e8;
}

footer {
  background: #04091e;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: block;
  margin: 20px 0 0 0;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  color: #f6f2e8;
  text-decoration: none;
}

a:hover {
  color: #075985;
}

/* horizontal scroll */

#horizontal-scoll {
  padding: 200px 0;
}

.horizontal-scoll-wrapper {
  overflow: hidden;
  height: 525px;
}

.horizontal {
  display: flex;
  height: 100%;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 5px;
}

.horizontal > div:first-child {
  padding: 0 5px 0 15px;
}

.horizontal > div:last-child {
  padding: 0 15px 0 5px;
}

.horizontal .card {
  align-items: stretch;
  width: 540px;
  padding: 80px 40px;
  background: #075985;
  border-radius: 38px;
  color: #f6f2e8;
}

#featuredin-section-bg {
  background-image: url("/assets/images/featuredin/bg.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}
